<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Maintainence - APPMS X-UA-Compatible</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">

        <form method="POST" class="form-signin">
            <h2 class="form-signin-heading">--- APPMS <b>X</b> ---</h2>
            <p>Browsing past papers and mark schemes for Cambridge International A-Level made simple.</p>

            <p class="maintainence">
                Sorry, APPMS X's supplement server is currently offline and thus, APPMS X cannot provide you the browsing function. <br><br>
                We are very sorry for the inconvenience. <br><br>
                We will get back up and running as soon as possible.
            </p>
        </form>


        <footer>
            <p>Developed by: <a target="_blank" href="//pgrg.pythonanywhere.com">Prashant Gurung</a></p>
            <p>Revised and redesigned by: <a target="_blank" href="//thisisoshan.github.io/v2">Oshan Shrestha</a></p>
        </footer>



        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119052117-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-119052117-1');
        </script>


    </div> <!-- /container -->
</body>
</html>